html {
    height: 100%;
    background: #FE0 linear-gradient(-30deg, #E80, #FE0 70%, #FF0 90%, #EC0);
}

body {
    background: transparent url(nodejs-white.svg) no-repeat 50% 50%;
    background-size: 80%;
    font-family: "Open Sans", "Liberation Sans", Arial, sans-serif;
    font-size: 14px;
    height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: .5em 1em;
    color: #FFF;
    font-size: 12px;
    font-weight: normal;
}

#telegram {
    position: absolute;
    right: 10vw;
    bottom: 5vh;
    color: #05C;
    text-decoration: none;
    font-size: 2vw;
}
#telegram:hover {
    text-decoration: underline;
}

@media (orientation: portrait) {
    #telegram {
        font-size: 4vw;
    }
}
